@import "~normalize.css";
@import "keyboard.css";

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: rgb(216, 238, 227);
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
